.jumbotron
  - if user_signed_in?
    %h1 #{"Welcome #{current_user.name}"}
    %p.lead Click on Edit Profile button below and grab a chocolate!!
    %p
      %a.btn.btn-lg.btn-success{:href => new_user_session_path, :role => "button"} Edit Profile
  - else
    %h1 Welcome
    %p.lead Click on Sign in button below and grab a coffee!!
    %p
      %a.btn.btn-lg.btn-success{:href => new_user_session_path, :role => "button"} Sign in